<table border="1" class="dataframe table table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recipeTitle</th>
      <th>recipeMaterial</th>
      <th>recipeCost</th>
      <th>recipeIndication</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>99</th>
      <td>にんにくとオリーブオイルで作るタコのサラダ</td>
      <td>[ゆでタコ, 胡瓜, トマト, ニンニク, オリーブオイル, 塩コショウ]</td>
      <td>500円前後</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/6e44d6b25044df54b9a1b985423b6cd7faf74838.70.2.3.2.jpg' height='200' /></td>
    </tr>
    <tr>
      <th>61</th>
      <td>パパッともう一品！小松菜のツナマヨ和え</td>
      <td>[小松菜, ツナ缶, マヨネーズ, しょうゆ, 塩, かつお節]</td>
      <td>100円以下</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/e37d16ac5f8230df68ec321389cbc8b7dfb9e263.12.2.3.2.jpg' height='200' /></td>
    </tr>
    <tr>
      <th>240</th>
      <td>デトックス!! ダイエットスープ</td>
      <td>[千切りキャベツ, えのき, なめこ, すりおろし生姜, 乾燥ワカメ]</td>
      <td>300円前後</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/e5f88da63106126e103da982b9afc565a61e017b.32.2.3.2.jpg' height='200' /></td>
    </tr>
  </tbody>
</table>