<table border="1" class="dataframe table table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recipeTitle</th>
      <th>recipeMaterial</th>
      <th>recipeCost</th>
      <th>recipeIndication</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>101</th>
      <td>ごま香る!!我が家の病みつきゴマドレ♪</td>
      <td>[砂糖, すりごま, マヨネーズ, ぽん酢, ごま油]</td>
      <td>100円以下</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/e8f2ce7b2f28b8be853079d45a27b99ab7ed9a85.44.2.3.2.jpg' height='200' /></td>
    </tr>
    <tr>
      <th>131</th>
      <td>セブンの野菜スティック♡味噌マヨディップ</td>
      <td>[人参, きゅうり, 大根, a.みそ, a.マヨネーズ, a.砂糖, a.めんつゆ, a.七味唐辛子]</td>
      <td>100円以下</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/abd873ef207cfd297292529f0e961ab8e4b54887.40.2.3.2.jpg' height='200' /></td>
    </tr>
    <tr>
      <th>46</th>
      <td>ごま香る!!我が家の病みつきゴマドレ♪</td>
      <td>[砂糖, すりごま, マヨネーズ, ぽん酢, ごま油]</td>
      <td>100円以下</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/e8f2ce7b2f28b8be853079d45a27b99ab7ed9a85.44.2.3.2.jpg' height='200' /></td>
    </tr>
  </tbody>
</table>