<table border="1" class="dataframe table table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>recipeTitle</th>
      <th>recipeMaterial</th>
      <th>recipeCost</th>
      <th>recipeIndication</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>67</th>
      <td>簡単混ぜるだけ♪ パクチーと春菊のエスニックサラダ</td>
      <td>[春菊, パクチー, 【ドレッシング】, オリーブオイル, しょうゆ, バルサミコ酢, レモン汁, ナンプラー, 乾燥バジル, 鷹の爪輪切り]</td>
      <td>300円前後</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/011053df55aca82f8c881ef2c4690f76237a0832.68.2.3.2.jpg' height='200' /></td>
    </tr>
    <tr>
      <th>120</th>
      <td>簡単！キュウリとトマトの中華サラダ☆</td>
      <td>[トマト, キュウリ]</td>
      <td>300円前後</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/099ef2cdda5e023a9398b7682f34bc86a81f6afd.60.2.3.2.jpg' height='200' /></td>
    </tr>
    <tr>
      <th>165</th>
      <td>お店で出てくるイタリアンサラダ</td>
      <td>[ベビーリーフミックス, ミニトマト, EVオリーブオイル, レモン, 塩胡椒]</td>
      <td>300円前後</td>
      <td>5分以内</td>
      <td><img src='https://image.space.rakuten.co.jp/d/strg/ctrl/3/93d49330029d09583e762ce6a078e2aadbe7e3fe.05.2.3.2.jpg' height='200' /></td>
    </tr>
  </tbody>
</table>